@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-style: normal;
}

body {
    background-color: #ee5427;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    padding: 20px;
}

.text {
    text-align: center;
    width: 80%;
}

.text h1 {
    font-size: 3rem;
    color: #fff;
    margin: 2% 0;
    font-size: clamp(1.5rem, 4vw, 3rem);
}

.text p {
    font-size: clamp(12px, 4vw, 1.3rem);
    margin: 1% 0;
}

.script-input {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 2% 0;
    padding: 2%;
    min-width: 30%;
    background-color: #d5d5d5;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.task-link {
    text-decoration: none;
    color: #ee5427;
    font-size: 1.2rem;
    padding: 10px;
    margin: 5px;
    border: 2px solid #ee5427;
    border-radius: 4px;
    transition: all 0.3s ease;
    width: 80%;
    text-align: center;
    background-color: #d5d5d5;
}

.task-link:hover {
    background-color: #ee5427;
    color: #d5d5d5;
}

.task-link:active {
    border: 2px solid transparent;
    color: #ee5427;
    background-color: transparent;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

/* Media Queries */

/* Mobile */
@media only screen and (max-width: 767px) {
    main {
        min-height: 50vh;
    }
    .task-link {
        width: 80%;
    }
}

/* Tab */
@media only screen and (min-width: 768px) and (max-width: 991px) {
    main {
        min-height: 50vh;
    }
    .task-link {
        width: 60%;
    }
}

/* PC */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
}
